.home-image-container {
    overflow: hidden;

    position: relative;
}

.home-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    text-align: center;
    font-size: 3rem;

    margin: 0;
    width: 300px;
}

.home-text {
    margin: 2rem;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.menu-navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.explore-menu {
    padding: 1rem;
    background-color: black;
    border: 1px solid transparent;
    color: white;
    text-decoration: none;
}

@media (min-width: 600px) {
    .home-image-container {
        width: 100%;
        max-height: 600px;
    }

    .home-title {
        font-size: 4rem;
        width: 600px;
    }
}